@font-face {
  font-family: 'symbols-sedona';
  src: url('../font/symbols-sedona.eot?60737633');
  src: url('../font/symbols-sedona.eot?60737633#iefix') format('embedded-opentype'),
       url('../font/symbols-sedona.woff?60737633') format('woff'),
       url('../font/symbols-sedona.ttf?60737633') format('truetype'),
       url('../font/symbols-sedona.svg?60737633#symbols-sedona') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'symbols-sedona';
    src: url('../font/symbols-sedona.svg?60737633#symbols-sedona') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "symbols-sedona";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-facebook:before { content: '\66'; } /* 'f' */
.icon-twitter:before { content: '\74'; } /* 't' */
.icon-up-dir:before { content: '\25b2'; } /* '▲' */
.icon-down-dir:before { content: '\25bc'; } /* '▼' */
.icon-star:before { content: '\2605'; } /* '★' */
.icon-check-off:before { content: '\2610'; } /* '☐' */
.icon-check-on:before { content: '\2611'; } /* '☑' */
.icon-calendar:before { content: '\e800'; } /* '' */
.icon-plus:before { content: '\e801'; } /* '' */
.icon-minus:before { content: '\e802'; } /* '' */
.icon-youtube:before { content: '\f39e'; } /* '' */

/*custom-style*/
body {
	margin: 0;
	padding: 0;
	font-family: PT Sans, Tahoma, Arial;
	color: #000;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	background-color: #f2f2f2;
}
.sedona-wrapper {
    min-width: 768px;
    max-width: 1200px;
    margin: 0 auto;
    background: #fff;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}
h1, h2 {
	font-size: 21px;
	font-weight: normal;
}
h1 {
	margin-bottom: 40px;
}
input, label {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: #000;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav {
	margin-left: auto;
	margin-right: auto;
	color: #000;
}

.main-header a {
	position: relative;
	
	z-index: 1;
}
nav ul li {
	width: 20%;
}
nav ul li:nth-child(1) {
	float: left;
	display: inline;
}
nav ul li:nth-child(2) {
	float: left;
	display: inline;
}
nav ul li:nth-child(3) {
	float: right;
	display: inline;
}
nav ul li:nth-child(4) {
	float: right;
	display: inline;
}
nav li {
	margin-top: 17px;
}
.jumbotron {
	background-image: url(../img/jumbotron.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 510px;
	position: relative;
	z-index: 0;
	margin-top: -15px;
	margin-left: auto;
	margin-right: auto;
	width: auto;
	margin-bottom: 60px;
}
.jumbo-text {
	position: absolute;
	top: 75px;
	left: 50%;
	margin-left: -229px;
}
.container-advantages {
	width: auto;
	margin-left: auto;
	margin-right: auto;
}
.container-hotels {
	width: auto;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
.main-heading {
	text-align: center;
	color: #000;
	margin-bottom: 50px;
}
.advantages-row-true-town {
	width: auto;
}
.advantages-row-true-town div {
	display: inline-block;
	vertical-align: top;
	min-height: 256px;
}
.advantages-town {
	width: 33.33%;
	background-color: #81b3d2;
	color: #fff;
}
.advantages-town h2 {
	margin-top: 58px;
}
.advantages-town span {
	margin-top: 30px;
}
.advantages-town p {
	margin-top: 30px;
}
.advantages-town-image {
	width: 66.67%;
	background-image: url(../img/city-view.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.advantages-row-pictures {
	min-height: 330px;
}
.advantages-row-pictures div {
	display: inline-block;
	width: 33.33%;
}
.advantages-row-pictures div img{
	margin-top: 42px;
	margin-bottom: 30px;
}
.advantages-row-pictures div h2{
	margin-top: 0;
	margin-bottom: 30px;

}
.advantages-row-pictures div p{
	margin-bottom: 30px;
}
.advantages-row-devil {
	width: auto;
}
.advantages-row-devil div {
	display: inline-block;
	vertical-align: top;
	min-height: 256px;
}
.advantages-devil-image {
	width: 66.67%;
	background-image: url(../img/devil.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.advantages-devil {
	width: 33.33%;
	background-color: #81b3d2;
	color: #fff;
}
.advantages-devil h2 {
	margin-top: 50px;
}
.advantages-devil span {
	margin-top: 30px;
}
.advantages-devil p {
	margin-top: 30px;
}
.advantages-row-more {
	margin-bottom: 60px;
}
.advantages-row-more h2 {
	margin-top: 50px;
}
.advantages-row-more span {
	margin-top: 30px;
}
.advantages-row-more p {
	margin-top: 30px;
}
.advantages-row-more div {
	vertical-align: top;
	min-height: 256px;
	display: inline-block;
	width: 33.33%;
	background-color: #eee;
}
.advantages-row-more div:nth-child(3) {
	width: 33.34%;
}
.hotels-title {
	font-size: 30px;
	position: relative;
}

.hotels-annotaion {
	margin-bottom: 135px;
	position: relative;
}
.map {
	background-image: url(../img/map.png);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 595px;
	margin-bottom: -120px;
}
.hotel-form {
	left: 50%;
	top: 115px;
	margin-left: -283px;
	position: absolute;
	min-height: 475px;
	width: 565px;
	background-color: #fff;
}
.form-title {
	font-size: 30px;
	min-height: 85px;
	background-color: #766357;
	color: #fff;
}
.hotel-form form input {
	display: inline-block;
	margin-bottom: 30px;
	margin-left: 20px;
	width: 344px;
	min-height: 36px;
}
.hotel-form input[name="num-adults"] {
	width: 114px;
} 
.hotel-form input[name="num-kids"] {
	width: 114px;
} 
.hotel-form button[type="submit"] {
	width: 81%;
	background-color: #81b3d2;
	min-height: 58px;
	color: #fff;
	text-transform: uppercase;
}

/*hotels*/

form input[type="checkbox"] {
	margin-right: 20px;
} 
.filter {
	margin-top: -15px;
	background-image: url(../img/filter-background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	max-height: 215px;
	font-size: 14px;
}
.filter form {
	max-height: 215px;
	display: inline-block;
	width: 100%;
	text-align: left;
}
.filter form div {
	display: inline-block;
	vertical-align: top;
	color: #fff;
	text-align: left;
}
.filter .features, .filter .type {
	width: 20.25%;
	min-height: 215px;
}
.filter-right-column {
	width: 45%;
}
.filter div .checkbox-list {
	width: 100%;
	line-height: 46px;
}
.filter h3 {
	margin-top: 27px;
	margin-bottom: 0;
}
.filter .features {
	margin-left: 6.1%;
}
.range-filter {
  width: 240px;
}

.range-controls {
	display: block;
  position: relative;
  max-height: 41px;
  min-width: 330px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  background: #f1f1f1;
}

.range-controls .scale {
	display: block;
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
	display: block;
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
	display: block;
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  max-height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
	display: block;
  left: 50px;
}

.range-controls .toggle-max {
	display: block;
  left: 110px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  font-size: 16px;
  display: inline-block;
  width: 50%;
}

.max-price {
  text-align: right;
}

.price-controls input {
  font-size: 16px;
  width: 60px;
  margin-left: 10px;
  padding: 8px 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  outline: none;
  background: #f1f1f1;
}
.hotels-row {
	min-height: 50px;
	text-align: left;
	padding-top: 35px;
}
.hotels-row li {
	display: inline;
}
.arrows {
	display: inline-block;
	vertical-align: top;
	font-family: 'symbols-sedona';
}
.arrows::before {
	content: '\25b2 \25bc';
}
.hotels-row li, .hotels-row .found-number {
	display: inline;
	margin-left: 73px;
}
.hotels-row div {
	display: inline-block;
}
.hotels-row .found-number {
	font-size: 21px;
	margin-right: 4.6%;
}
.hotels-row li {
	width: 6.8%;
}
.hotel-info {
	text-align: left;
	border-top: 1px solid #e5e5e5;
	width: auto;
	min-height: 150px;
}
.hotel-info:last-child {
	border-bottom: 1px solid #e5e5e5;
}
.hotel-info div {
	display: inline-block;
	vertical-align: top;
}
.hotel-info .hotel-image {
	min-width: 13.8%;
	margin-top: 30px;
	text-align: left;
	padding-left: 73px;
}
.hotel-info .descr {
	width: 25.4%;
}
.hotel-info .descr h2 {
	margin-top: 30px;
}
a.btn {
  display: inline-block;
  height: 11px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  color: white;
  font-weight: bold;
  text-decoration: none;
  vertical-align: middle;
}
.btn-blue {
	background: #81b3d2;
	width: 110px;
	margin-right: 6px;
}
.btn-brown {
	background: #766357;
	width: 142px;
}
.hotel-info .hotel-type {
	display: inline-block;
	margin-right: 40px;
	margin-bottom: 20px;
}
.hotel-info .stars-and-rating {
	width: 44.5%;
	text-align: right;
	padding-right: 40px;
}
.hotel-info .stars {
	color: #81b3d2;
	font-family: 'symbols-sedona';
	font-size: 21px;
}
.hotel-info:nth-child(1) .stars::before{
	content: '\2605\2605\2605\2605';
}
.hotel-info:nth-child(2) .stars::before{
	content: '\2605\2605';
}
.hotel-info:nth-child(3) .stars::before{
	content: '\2605\2605\2605';
}
.hotel-info .rating {
	margin-top: 95px;
	background-color: #f2f2f2;
	width: 110px;
	padding: 8px 0;
	text-align: center;
}
footer {
	background-color: #fff;
	min-height: 120px;
	opacity: .9;
	text-align: left;
}
.main-footer .container div {
	text-align: center;
	vertical-align: top;
	display: inline-block;
	width: 33%;
	min-height: 110px;
}
.social-btn {
    display: inline-block;
    min-width: 40px;
    min-height: 40px;
    background: #81b3d2;
    margin-right: 10px;
    vertical-align: middle;
    color: #fff;
    text-transform: none;
    font-family: 'symbols-sedona';
    text-align: center;
}

.social-tw::before{
	content: '\74';
}

.social-fb::before {
	content: '\66';
}

.social-yt::before {
	content: '\f39e';
}