
body {
	margin: 0;
	padding: 0;
	font-family: PT Sans, Tahoma, Arial;
	color: #000;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: normal;
	text-align: center;
	background-color: #f2f2f2;
}

h1, h2 {
	font-size: 21px;
	font-weight: normal;
}
h1 {
	margin-bottom: 40px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
button {
	button-style-type: none;
    margin: 0;
    padding: 0;
}
nav {
	margin-left: auto;
	margin-right: auto;
	color: #000;
}

.main-header a {
	position: relative;
	z-index: 1;
}
nav ul li {
	width: 20%;
	/*display: inline-block;*/
}
nav ul li:nth-child(1) {
	float: left;
	display: inline;
}
nav ul li:nth-child(2) {
	float: left;
	display: inline;
}
nav ul li:nth-child(3) {
	float: right;
	display: inline;
}
nav ul li:nth-child(4) {
	float: right;
	display: inline;
}
.jumbotron {
	position: relative;
	z-index: 0;
	margin-top: -20px;
	margin-left: auto;
	margin-right: auto;
	width: auto;
	margin-bottom: 60px;
}
.jumbo-text {
	position: absolute;
	top: 125px;
	left: 50%;
	margin-left: -229px;
}
.container-advantages {
	width: auto;
	margin-left: auto;
	margin-right: auto;
}
.container-hotels {
	width: auto;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
.main-heading {
	text-align: center;
	color: #000;
	margin-bottom: 50px;
}
.advantages-row-true-town {
	width: auto;
}
.advantages-town {
	display: inline-block;
	vertical-align: top;
	width: 33.33%;
	background-color: #81b3d2;
	color: #fff;
	min-height: 256px;
}
.advantages-town h2 {
	margin-top: 58px;
}
.advantages-town span {
	margin-top: 30px;
}
.advantages-town p {
	margin-top: 30px;
}
.advantages-town-image {
	vertical-align: top;
	display: inline-block;
	width: 66.66%;
}
.advantages-row-pictures div {
	display: inline-block;
	width: 33.33%;
	min-height: 330px;
}
.advantages-row-pictures div img{
	margin-top: 62px;
}
.advantages-row-pictures div h2{
	margin-top: 30px;
}
.advantages-row-pictures div p{
	margin-top: 30px;
}
.advantages-row-devil {
	width: auto;
}
.advantages-devil-image {
	vertical-align: top;
	display: inline-block;
	width: 66.66%;
}

.advantages-devil {
	vertical-align: top;
	min-height: 256px;
	display: inline-block;
	width: 33.33%;
	background-color: #81b3d2;
	color: #fff;
}
.advantages-row-more {
	margin-bottom: 60px;
}
.advantages-row-more div {
	vertical-align: top;
	min-height: 256px;
	display: inline-block;
	width: 33.33%;
	background-color: #eee;
}
.advantages-row-more div:nth-child(3) {
	width: 33.34%;
}
.hotels-title {
	font-size: 30px;
	position: relative;
}

.hotels-annotaion {
	margin-bottom: 190px;
	position: relative;
}
.hotel-form {
	left: 50%;
	top: 170px;
	margin-left: -283px;
	position: absolute;
	min-height: 475px;
	width: 565px;
	background-color: #fff;
}
.form-title {
	font-size: 30px;
	min-height: 85px;
	background-color: #766357;
	color: #fff;
	padding: 0;
}
form label input {
	display: inline-block;
	margin: 30px auto;
	width: 344px;
	min-height: 36px;
}
form input:nth-child(3), form input:nth-child(4) {
	width: 114px;
} 
button[type="submit"] {
	width: 70%;
	background-color: #81b3d2;
	min-height: 58px;
	color: #fff;
	text-transform: uppercase;
}
.filter div {
	display: inline-block;
	width: 33.33%;
}
.hotels-row li {
	display: inline;
}
.index_sedona_wrapper {
    min-width: 768px;
    max-width: 1200px;
    margin: 0 auto;
    background: #fff;
    overflow: hidden;
}
.filter {
	background-image: url(../img/filter-background.jpg);
	background-repeat: no-repeat;
	background-size: 1000px;
	min-height: 500px;
}



footer {
	background-color: #fff;
}
.main-footer .container div {
	vertical-align: top;
	display: inline-block;
	width: 33.33%;
}